@page
@model Lab5_302.Pages.AnswerImages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>AnswerImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="radio" asp-for="AnswerImage.Question" id="computer" value="Computer"/>
                <label for="computer">What will the computers look like in 20 years?</label>
                <input type="radio" asp-for="AnswerImage.Question" value="Earth" checked="checked">
                <label for="earth">What will the earth look like in 20 years?</label>
                <input name="file" type="file" required>
                <span asp-validation-for="AnswerImage.Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
